@model Recruitment.Models.LoginModel
<!DOCTYPE html>
<html>
<head>
	@{
		//var Rolename = Model. ;

	}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

	@*<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<script src="script.js"></script>*@
	
	<link href="~/Content/styles.css" rel="stylesheet" />
</head>
<body style="height:auto">
	<div class="container body-content">
		<div id='cssmenu'>
			<ul>
				<li>@Html.ActionLink("Home", "Index", "Home")</li>
				<li class='active has-sub'>
					<a href='#'><span>Products</span></a>
					<ul>
						<li class='has-sub'>
							<a href='#'><span>Product 1</span></a>
							<ul>
								<li><a href='#'>@Html.ActionLink("About", "About", "Home")</a></li>
								<li class='last'><a href='#'><span>Sub Product</span></a></li>
							</ul>
						</li>
						<li class='has-sub'>
							<a href='#'><span>Product 2</span></a>
							<ul>
								<li><a href='#'><span>Sub Product</span></a></li>
								<li class='last'><a href='#'><span>Sub Product</span></a></li>
							</ul>
						</li>
					</ul>
				</li>

				@if (Session["UserDetails"].ToString() == "Employee")
				{
					<li>@Html.ActionLink("Employee", "CURD_Employee", "Employee")</li>
				}
				else if (Session["UserDetails"].ToString() == "Admin")
				{
					<li>@Html.ActionLink("Employee", "CURD_Employee", "Employee")</li>
				}
				<li>@Html.ActionLink("Recruit", "Enquery", "Recruit")</li>
				<li><a href='#'><span>About</span></a></li>
				<li class='last'><a href='#'><span>Contact</span></a></li>
				<li class="last" style="float:right">@Html.ActionLink("Logout", "Logout", "Login")</li>
			</ul>

		</div>
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>

@*<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>*@
</html>
